@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

.customShadow {
	text-shadow: 0px 0px 8px #00fff2;
}
